@import url('./fonts.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-4 {
  width: 25%;
}

.text-center {
  text-align: center;
}

.title-line {
  border: none;
  width: 100px;
  height: 4px;
  background-color: #F5BD41;
  margin: 0 auto 80px;
}

.icon-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 48px;
}

.offer-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.offers .container {
  padding: 120px 16px;
}

.footer .container {
  padding: 106px 17px;
}

.footer {
  background-color: #10367C;
}

.footer_up {
  font-size: 20px;
  line-height: 47px;
  font-weight: 500;
  color: #FFFFFF;
}

.footer_text {
  font-size: 20px;
  line-height: 47px;
  font-weight: 400;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer .col-3 {
  margin-bottom: 64px;
  width: calc(100% / 3);
}

.top-section {
  height: 900px;
  background-color: #1D1E1F;
  background-image: url(../images/castelmezzano.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.nav {
  height: 46px;
  width: 1234px;
  display: flex;
  justify-content: space-between;
}

a {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

a span {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFF;
}

a hr {
  display: none;
  width: 50px;
  height: 4px;
  background-color: #F5BD41;
  border: none;
}

a.active hr {
  display: inline-block;
}

.page {
  height: 487px;
  display: flex;
  margin-top: 198px;
  flex-direction: column;
}

.page-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 59px;
  color: #FFFFFF;
  margin: 0;
}

.menu {
  margin-left: 24px;
}

.navimg {
  margin-left: 24px;
  padding: 5px 0 11px;
}

.navimg2 {
  margin-left: 24px;
  padding-bottom: 6px;
}

.stays {
  margin-right: 24px;
  padding: 6px 0 12px;
}

.attractions {
  margin-right: 24px;
  padding: 6px 0 12px;
}

.input_city {
  width: 463px;
  padding: 19px 355px 18px 21px;
  border-color: #f3f3f4;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}

.input_data {
  width: 258px;
  height: 64px;
  border-radius: 8px;
  border-color: #F5BD41;
  border-width: 3px;
  border-style: solid;
  text-align: center;
}

.input_room {
  width: 314px;
  height: 64px;
  text-align: center;
  border-color: #f3f3f4;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}

button {
  width: 192px;
  height: 64px;
  background: #3077C6;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  border-width: 3px;
  border-color: #3077C6;
  border-style: solid;

}

input, textarea {
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

form {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
}

.apps {
  text-align: center;
}

.header_subtitle {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.header_subtitle_hotel {
  margin: 103px 221px 25px 28px;;
}

.header_subtitle_check {
  margin-bottom: 25px;
  margin-top: 103px;
}

.top-section .container {
  padding-top: 51px;
  height: 900px;
}
